@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  background-color: #11071f;
  width: 100vw;
  height: 100vh;
}
p,
h1,
h2,
h6,
h3,
h8,
h5 {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400px;
  font-style: normal;
  letter-spacing: -0.5px;
  color: white;
}
h1 {
  font-size: 50px;
}

button {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

a {
  color: inherit;
}

button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(118, 60, 172, 1) 17.8%,
    rgba(118, 60, 172, 1)
  );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

button:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(118, 60, 172, 1) 17.8%,
    rgba(118, 60, 172, 1)
  );
  transition: 0.5s;
}

.subtitle {
  font-size: 15px;
}

.purple-text {
  color: #7127ba;
}

.navbar {
  background-color: #1a0b2e !important;
  height: 113px !important;
}
.navbar-nav .nav-link {
  color: white !important;
  border-left: 800px !important;
}
/* 
.circle {
  box-sizing: border-box;
  position: absolute;
  width: 188.58px;
  height: 57.9px;
  left: 875px;
  top: 450.6px;
  border: 1px solid #ffffff;
  transform: rotate(-4.74deg);
  border-radius: 50%;
} */

.picture {
  position: relative;
  width: 320px; /* ajuste para o tamanho da sua imagem */
  height: 320px; /* ajuste para o tamanho da sua imagem */
  margin: 0 auto; /* centraliza a div horizontalmente */
  border-radius: 50%; /* torna a div circular */
  overflow: hidden; /* esconde o conteúdo que ultrapassar a div */
  background: radial-gradient(
    circle at center,
    rgba(118, 60, 172, 1) 2%,
    rgba(50, 15, 133, 0) 70%
  );
}

.picture img {
  margin-left: 30px;
  margin-top: -74px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#about {
  margin-top: 200px;
}

.about-me {
  margin-top: 80px;
}

#work {
  margin-top: 200px;
}

.experence-card {
  background-color: #251043;
  border-radius: 28px;
}

.experence-card img {
  width: 115px;
  height: 115px;
}

.title-experence-card {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}

.text-experence-card {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 10px;
}

.texto-card {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}

#work {
  background: radial-gradient(
    27% 95% at 50% 50%,
    #763cac -41%,
    rgba(50, 15, 133, 0) 50%
  );
}

.example-project {
  background: radial-gradient(
    76% 94% at 46% 43%,
    #763cac -41%,
    rgba(50, 15, 136, 0) 50%
  );
}
/* 

.navbar-nav .nav-item {
  margin-right: 800px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.picture {
  max-width: 250px;
  max-height: 250px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} */
